<% content_for :title, @order.order_form.title %>
<% content_for :breadcrumb do %>
  <li><%= @order.order_form.title %></li>
<% end %>
<h1><%= t '.new_order' %></h1>

<%= render "form", order: @order, order_form: @order.order_form %>

