<% content_for :title, @order.order_form.title %>
<%= render @order %>

<article>
  <p>
    <%= t '.please_transfer_html', amount: @order.total_price, iban: @order.order_form.iban %>
  </p>
</article>

