<h1>Editing order form</h1>

<%= render "form", order_form: @order_form %>

<br>

<div>
  <%= link_to "Show this order form", @order_form %> |
  <%= link_to "Back to order forms", order_forms_path %>
</div>
